<strong>Olá {{ student }}</strong> <br />
<strong>Pergunta: </strong> {{ question }} <br />
<strong>Resposta: </strong> {{ answer }} <br />
<p>
  <small>Pergunta respondida em {{answerAt}} </small>
</p>
